@use "../custom" as custom;
@use "../components/mixins" as mixin;

nav {
  @include gradient;
  li {
    padding: 0 0.7rem;
    text-transform: capitalize;
    font-weight: 600;
    a {
      color: $white !important;
    }
  }
}
